* {
margin: 0;
}
body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*! Nav */
nav {
    background-color: black;
}
nav a {
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin: 10px;
}
nav a:hover {
    background-color: coral;
    color : white;
}

.hero {
background-image: url("./img/cocuklar5.jpeg");
height: calc(100vh - 62px);
background-size: cover;
background-position: center center;
position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /*! sayfayi ortalamak icin bu kullanilir*/
}

.hero-title {
font-size: 40px;
color: white;
text-shadow: 10 10px 10px rgba(50, 50, 90, 1) ;
/* x,y, blur, color */
}

.hero-par {
font-size: 30px;
color: orangered;
font-weight: 700px;
text-shadow: 10 10px 10px rgba(50, 50, 90, 10) ;
}

/* !About */

#about {
    background-color: lightgray;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
   
}


.about-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.about-img-div img {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 10 px rgba(0, 0, 0, 1);
  
}

.about-img-div {
    flex: 3;
}

.about-text-div {
    flex: 5;
    text-align: justify;
    /* line-height: 2; */
}

/* ! SERVICE */

#services {
    background-color: #eee;
}
#services img {
    width: 100%;
    max-width: 400px;
}

#services .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ! FOOTER */

footer {
    background-color: black;
    padding: 40px;
}

footer a {
    color: white;
    margin-right: 10px;
}

.social-icons {
    font-size: 40px;
}

footer a :hover {
    color: orangered;
}

/*! Whatsapp Icon */
.fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed a {
    color: white;
}
.fixed :hover {
    opacity: 0.6;
    cursor: pointer;
}