body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    background-color: beige;
    margin: 10px; /*her yonden 10px lik bir mesafe verdik*/
    margin: 30px 10px;
    margin-top: 10px;

    /* ! ic hacim - padding */

    padding: 20px; /* dort taraftan ic hacim verir*/

    padding-top: 40px;
}

.blok-ortala {
    padding: 30px;
    background-color: green;
    text-align: center;
    margin-bottom: 30px;
}
.blok-ortala div {
    padding: 20px;
    width: 80px;
    background-color: magenta;
    margin: auto; /* blok icerisindeki bir baska element
    margin:auto ile ortalanabilir.*/
}
/* ! Span gibi Inline elementlere ust ve 
! alt margin verilemez */

.span-btn {
  background-color: lightcoral;
  padding: 10px;
  margin-top: 60px; /* margin-top islemez inline oldugu icin*/

  margin-right: 30px;
}
.span-div {
    margin-top: 50px;
}



