*{
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    background-color: aquamarine;
    /* padding: 30px; */
    height: 150px; /* Dikey hizalamayi gorebilmek icin ekleme yapildir*/

    /* ! Elemanlari dizilis yonu : columm, row, row-reverse, column-reverse */
    flex-direction: row;
    /* ? gap, flex icerisindeki elemanlarin dikey ve yatar bosluklarini
    ?belirlemek icin kullanilabilir. 
    ? ilk yazilan yatay (satirlar arasi) bosluk, 2. yazilan ise dikey 
    ?(sutunlar arasi) bosluktur.*/

    gap: 20px;
    /* !sikistirma veya alt satira gecebilme: flex-wrap: wrap, nowrap, wrap-reserve */

    flex-wrap: wrap;
    /* ?li icerisindeki yazilari hizala */
    text-align: center;
    /* ! Yatay Hizalama: justify-content */
    /* flex-start, flex-end, center, space-arond, space-evenly, space-between */
    justify-content: center;

    /* !Dikey Hizalama => align-items*/
    /* flex-start, flex-end, center, stretch, baseline */
    align-items: center;
}

ul li {
    background-color: antiquewhite;
    padding: 10px;
    width: 50px;
}

.container {
    display: flex;
    /* ? satir ve sutun arasi mesafe */
    gap: 30px;

    /* ?Hizalamalar */
    align-items: center;
    justify-content: center;
    text-align: center; /* ?resmi icinde bulundugu div'de ortala*/
    flex-wrap: wrap; /*? Alan yeterli olmazsa itemleri asagiya gonderiyor*/

}

.img-div img {
    width: 100%; /*? resim icerisinde bulundugu div'e gore*/
    min-width: 300px; /*? resim en az 300px olabilir */
    max-width: 500px; /*? resim en fazla 500 px olabilir*/
}

.text-div {
  flex: 2; /*? yazi divi 2s birim uzunlukta*/
}
.img-div {
flex: 3; /*? resimin divi 1 birim uzunlukta*/
}